.filters {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: end;
}

.filters div {
    display: flex;
    flex-direction: column;
}

input[type="month"] {
    padding: 8px;
    min-width: 160px;
}

@media (max-width: 700px) {
    .filters {
        display: block;
    }

    .filters div {
        margin-bottom: 10px;
    }
}